<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite" parallel="false">
    <test name="Test">
        <classes>
            <class name="Home.homepage"/>
            <class name="Home.Register"/>
            <class name="Home.Resetpassword"/>

            <class name="MLOwner.mlownerhome"/>
            <class name="MLOwner.mlownersingin"/>
            <class name="MLOwner.MLRequestFormTest"/>
            <class name="MLOwner.MLOwnerButtonTabsTest"/>
            <class name="MLOwner.LicensesPageTest"/>
            <class name="MLOwner.DispatchHistoryTest"/>
            <class name="MLOwner.DispatchLoadPageTest"/>

            <class name="GSMBOfficer.GsmbOfficerSignin"/>
            <class name="GSMBOfficer.MiningLicenseTestSuite"/>
            <class name="GSMBOfficer.RequestMining"/>
            <class name="GSMBOfficer.GSMBmlTab"/>
            <class name="GSMBOfficer.TPLandMLview"/>
            <class name="GSMBOfficer.PhysicalMeeting"/>

            <class name="PoliceOfficer.policeofficersignin"/>
            <class name="PoliceOfficer.validnumber"/>
            <class name="PoliceOfficer.invalidnumber"/>

            <class name="GeneralPublic.GeneralPublicDashboard"/>
            <class name="GeneralPublic.InvalidNumber"/>

            <class name="MiningEngineer.MiningEngineerSignIn"/>
            <class name="MiningEngineer.AppointmentsTabNavigationTest"/>
            <class name="MiningEngineer.AppointmentsViewDetailsTest"/>
            <class name="MiningEngineer.AppointmentsSetDateTest"/>
            <class name="MiningEngineer.AppointmentsTestBase"/>
            <class name="MiningEngineer.ScheduledTabTests"/>
            <class name="MiningEngineer.ApproveModalScheduled"/>
            <class name="MiningEngineer.HoldModalScheduled"/>
            <class name="MiningEngineer.ApprovedLicensesTableTest"/>
            <class name="MiningEngineer.RejectedLicensesTableTest"/>

            <class name="GSMBManagement.GSMBManagementDashboard"/>
            <class name="GSMBManagement.ActivationPageTest"/>

                    </classes>
                </test>
            </suite>
